body {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: inherit;
}

.section1 {
    margin-top: 35px;
}

.card-main-news {
    height: 390px;
    width: 715px;
    margin-left: 90px;
    position: relative;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
    clip-path: inset(0 0 0 0);
}

.img-news a {
    text-decoration: none;
}

.frame {
    max-height: 419px;
    max-width: 407px;
    border: 1px solid #4c936b;
    margin-right: 90px;
    padding: 10px 15px 20px 20px;
}

.frame>h3 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #ff5d30;
}

.title-artikel-populer {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #141418;
    margin-left: 40px;
}

.isi-artikel-populer {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #141418;
    margin-left: 40px;
}

.img-thumb-populer {
    height: 105px;
    width: 160px;
    margin-bottom: 15px;
}

.img-thumb-populer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: inset(0 0 0 0);
}

.card-body {
    background-color: #f05c36;
    color: #ffff;
    z-index: 100;
    margin-top: -100px;
    /* opacity: 10%; */
}

.card-main-news img {
    border-radius: 0px;
}

.card-body p:nth-child(1) {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 0px;
    margin-top: 10px;
}

.card-body h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 0px;
    margin-top: 27px;
    margin-bottom: 15px;
}

.card-text {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 26px;
}

/* styling artikel lain */
.section2 h1 {
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 1px;
}

.line-artikel {
    width: 70px;
    height: 5px;
    background-color: #4b966d;
    margin-bottom: 20px;
}

.frame-artikel {
    width: 180px;
    height: 125px;
}

.frame-artikel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: inset(0 0 0 0);
}

/* .container {
max-width: 1196px;
} */

.isi-artikel h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.isi-artikel p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.btn-artikel-lain {
    width: 140px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: #4b966d;
    color: #ffff;
    margin-top: -5px;
    margin-bottom: 20px;
}

.btn-artikel-lain:hover {
    background-color: #61b989;
    color: #ffff;
}

/* styling mobile */
@media (max-width: 575.98px) {
    .section1 {
        margin-top: 18px;
    }

    .card-main-news {
        height: 215px;
        width: 350px;
        margin: auto;
    }

    .img-news a {
        text-decoration: none;
    }

    .main-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: inset(0 0 0 0);
    }

    .card-body {
        background-color: #f05c36;
        color: #ffff;
        z-index: 100;
        /* padding: 10px 5px 0px 10px; */
    }

    .card-body p:nth-child(1) {
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 0px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .card-body h5 {
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .card-text {
        font-family: "Inter", sans-serif;
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 1px;
    }

    /* style hot artikel */
    .hot-artikel h1 {
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 500;
        margin-top: 15px;
        margin-bottom: 2px;
    }

    .line-artikel {
        width: 70px;
        height: 5px;
        background-color: #4b966d;
        margin-bottom: 12px;
    }

    .frame-img-hot {
        width: 150px;
        height: 95px;
    }

    .frame-img-hot img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center bottom;
        clip-path: inset(0 0 0 0);
    }

    .isi-hot-artikel h3 {
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
    }

    .isi-hot-artikel p {
        font-size: 10px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
    }

    .hot-artikel .row {
        margin-bottom: 15px;
    }

    .btn-artikel-lain {
        width: 120px;
        font-size: 12px;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        background-color: #4b966d;
        color: #ffff;
        margin-top: -10px;
        margin-bottom: 25px;
    }
}

/* tab view */
@media (max-width: 991.98px) {
    .card-main-news {
        margin: 0px;
    }

    .frame {
        display: none;
    }
}